{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{post.class}}">
      <div class="row">
        <div class="col-sm-4">
          <div class="product-images">
              {% do action('woocommerce_before_single_product_summary') %}
          </div>
        </div>

        <div class="col-sm-8">
          <div class="summary entry-summary">
            <h1>{{ product.get_title }}</h1>
              {{function('woocommerce_template_single_rating')}}

              {% do action('ratings') %}

              {{ product.ratings }}
              {{ post.ratings }}

            <h3 class="price">Price: {{ product.get_price_html }}</h3>
            <div class="small-desc">
              {{post.post_excerpt}}
            </div>
            <a href='{{ product.add_to_cart_url }}' class="btn single_add_to_cart_button">Buy</a>
          </div>
          <div class="product-info">
            <h3>Product Description</h3>
            {{post.content}}

            <meta itemprop="url" content="{{ post.link }}" />
          </div>
        </div>
      </div>

      </div>

    </article>


    {% do action('woocommerce_after_single_product') %}

{% endblock  %}
